.cart {
    flex: 1;

    overflow-x: auto;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 8px 8px -4px lightblue;
}

.cart .total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
}