* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #app {
  overflow: hidden;
} */

.App {
  width: 1200px;
  margin: auto;
}

.cart-and-checkout {
  display: flex;
  /* height: 400px; */
}